.header{
    background-color: rgba(14, 74, 253, 0.4);
    color:white;
    text-align: center;
    
}

.title{
   opacity: 70% ;
   background-color: white;
 text-align: center;
 font-family: "Yusei Magic", sans-serif;
 color:#393e8f;
}

body {
    background-image: url("pan-xiaozhen-wXG5XF73o3w-unsplash.jpg");
    background-size:cover;
    font-family: "Yusei Magic", sans-serif;
    background-repeat: no-repeat;
  }
  .writing {
    color: white;
    background-color: rgba(57, 62, 143, 0.4); 
    padding: 10px; 
  }
  
  .accordion-button{
    background-color: #393e8f;
    color:white;
  }


.nav-link.eduearning {
  color: #393e8f; 
}

.nav-link.responsibilitiesimpact {
 color: rgb(105, 45, 143); 
}

.video {
  text-align: center;
}

.images{
  display: flex;
    justify-content: center;
    gap: 10px;
}

.workcited{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.428);
}